
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    margin: 0px;
    padding: 50px 150px;
    color: #f9faf8;
}
.header-2 {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    padding:30px;
    color: #1f2937;
}

.title {
    font-weight: 900;
    font-size: 32px;
}

ul {
    display: flex;
    gap:40px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-weight: bold;
}

.section-1 {
    display: flex;
    background-color: #1f2937;
    padding: 50px 150px;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.section-1 img {
    width: 300px;
    height: 215px;
    padding-left: 50px;
    
}

.section-1 button {
    border-radius: 25px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 10px;
    border-style: none;
    box-shadow: 5px;
}

.section-2 img {

    width: 150px;
    height: 150px;

    border-radius: 25px;
}
.container-2{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
   
}

body{
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    background-color: #e5e7eb
}

.customer {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.sign-up-box {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    padding: 10px 35px;
    margin: 75px;
    border-radius: 30px;
}

.section-4 {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}

.section-4 button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 25px;
    padding: 25px;
    font-size: 20px;
    font-weight: 800;
    border-color: #e5e7eb;
    border-style: solid;

}

.footer{
    background-color: lightgrey;
    padding: 15px 0px;
}