
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    margin: 0px;
    padding: 20px;
}

.title {
    font-weight: 900;
    font-size: 32px;
}

ul {
    display: flex;
    gap:40px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.section-1 {
    display: flex;
    background-color: aqua;
}